<div class="container-fluid">
 <div class="text-center">
   
    <div class="text-center"><h1 class="display-1"><strong></strong>About</h1></div>
    
    <div class="col-12 text-center">
      <p class="">さけめしは誰でも投稿可能なレシピサイトです<br>
      また、投稿した料理に合うお酒も紹介することができます<br>
      ぜひ、気軽に見て行ってください</p>
    </div>
  </div>
</div>