@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.pagination {
  justify-content: center;
}

.label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}