@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.pagination {
  justify-content: center;
}

.label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-score {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 90%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-favorite {
  background-color: #ffc0cb;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.main{
  position:relative;
  text-align:center;
}
.main:before,
.main:after{
  content:"";
  display:block;
  position:absolute;
  height:1px;
  width:100%;
  border: 0;
  background: #ccc;
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(0.7,#ccc), color-stop(0.7,#cecece), to(#fff));
  background: -moz-linear-gradient(left,#fff 0%, #ccc 30%, #cecece 70%, #fff 100%);
  background: -o-linear-gradient(left,#fff 0%, #ccc 30%, #cecece 70%, #fff 100%);
  background: -ms-linear-gradient(left,#fff 0%, #ccc 30%, #cecece 70%, #fff 100%);
  background: linear-gradient(left,#fff 0%, #ccc 30%, #cecece 70%, #fff 100%);
}
.main:before{
  top:-10px;
}
.main:after{
  bottom:-10px;
}