              <header>
    <% if admin_signed_in? %>
      <li>
        <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "ログイン", new_admin_session_path %>
      </li>
    <% end %>
    
      </header>